{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .flex-shrink-0 {
            padding-top: 80px;
            padding-bottom: 30px;
        }
    </style>
</head>

<body class="d-flex flex-column h-100 vsc-initialized">
    <!-- 헤더가져오기 -->
    {% include "board/layouts/header.html" %}


    <!-- Begin page content -->
    <main class="flex-shrink-0">
        {% block main %}
        <h1>홈페이지 입니다</h1>
        사진을 나열할 생각입니다
        {% endblock %}
    </main>


    <!-- footer가져오기 -->

    {% include "board/layouts/footer.html" %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>




</body>

</html>