{% extends './base.html' %}
{% block main %}
<style>
    .ul {
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-left: 50px;">
            <h2 style="text-align: left;"> {{ item.product_name }} </h2>
            <div class="container" style="text-align: center;">
                <img src="{{ item.thumb_img }}" alt="상품이미지" width="200">

            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ item.price }}</li>
                <li class="list-group-item">{{ item.product_name }}</li>

            </ul>
        </div>
    </div>
</div>
<div class="container" style="padding-left: 200px;">
    <svg id="wordcloud" width="960" height="600"></svg>

    <script>
        // 단어 목록 데이터 (Django에서 전달받음)

        // // 빈도수에 따라 내림차순으로 정렬
        // words.sort(function (a, b) {
        //     return b.value - a.value;
        // });

        // 랜덤한 색상을 생성하는 함수
        function getRandomColor() {
            let letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        let layout;



        function draw(words) {
            d3.select("#wordcloud").append("g")
                .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) { return d.size + "px"; })
                .style("fill", function (d) { return getRandomColor(); })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) { return d.text; });
        }
        fetch("http://127.0.0.1:8000/board/api/wordcloud/1").then((resp) => {
            return resp.json()
        }).then(data => {
            // 워드클라우드 레이아웃 설정
            layout = d3.layout.cloud()
                .size([960, 600])
                .words(data.map(function (d) {
                    return { text: d.name, size: d.value };
                }))
                .padding(5)
                .rotate(function () { return ~~(Math.random() * 2) * 30; })
                .fontSize(function (d) { return Math.sqrt(d.size) * 5; })
                .on("end", draw);

            layout.start();
        })
    </script>
</div>

<div class="container" style="text-align : center;">
    <img src="{{ item.detail_img }}" data-ee-file-name="상품상세이미지" data-ee-file-type="image/jpg"
        data-ee-file-size="379899" data-ee-last-modified="1561099410000" alt="상품상세이미지" data-ee-file-width="800"
        data-ee-file-height="1530" data-ee-is-valid="false" height="1530" class="" width="1000">
</div>

<div class="container">
    <div>
        <ul>
            <!-- 댓글 목록을 표시합니다. -->
            {% for comment in comments %}
            <li>{{ comment.content }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <!-- 페이지 링크를 표시합니다. -->
        <span class="step-links">
            {% if comments.has_previous %}
            <a href="?page=1">&laquo; 처음</a>
            <a href="?page={{ comments.previous_page_number }}">이전</a>
            {% endif %}

            <span class="current">
                페이지 {{ comments.number }} / {{ comments.paginator.num_pages }}.
            </span>

            {% if comments.has_next %}
            <a href="?page={{ comments.next_page_number }}">다음</a>
            <a href="?page={{ comments.paginator.num_pages }}">마지막 &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>

{% endblock %}