{% extends "./base.html" %}
{% block main %}

<div class="container">
    <h2>Products - 둘러보기</h2>
    <div class="row">


        <div class="card mb-3" style="width: 30rem;">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-4by3">
                    <img class="card-img-top embed-responsive-item"
                        src="https://cdn.pixabay.com/photo/2018/02/05/23/05/death-valley-3133502_1280.jpg" width="100"
                        alt="이미지구역" />
                </div>
                <div>
                    <h5 class="card-title">상품명</h5>
                    <p class="card-text" style="float: right;"> 가격 </p>
                </div>

            </div>
            <div class="card-footer">
                <a href="{% url 'board:ddetail' %}" class="btn btn-outline-dark btn-sm" style="float: right;">상세보기</a>
            </div>
        </div>


    </div>
</div>

{% endblock %}