<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Word Cloud</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
</head>

<body>
    <svg id="wordcloud" width="960" height="600"></svg>

    <script>
        // 단어 목록 데이터 (Django에서 전달받음)

        // // 빈도수에 따라 내림차순으로 정렬
        // words.sort(function (a, b) {
        //     return b.value - a.value;
        // });

        // 랜덤한 색상을 생성하는 함수
        function getRandomColor() {
            let letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        let layout;



        function draw(words) {
            d3.select("#wordcloud").append("g")
                .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) { return d.size + "px"; })
                .style("fill", function (d) { return getRandomColor(); })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) { return d.text; });
        }
        fetch("http://127.0.0.1:8000/board/api/wordcloud/1").then((resp) => {
            return resp.json()
        }).then(data => {
            // 워드클라우드 레이아웃 설정
            layout = d3.layout.cloud()
                .size([960, 600])
                .words(data.map(function (d) {
                    return { text: d.name, size: d.value };
                }))
                .padding(5)
                .rotate(function () { return ~~(Math.random() * 2) * 30; })
                .fontSize(function (d) { return Math.sqrt(d.size) * 4; })
                .on("end", draw);

            layout.start();
        })
    </script>
    <!-- 
    <script>
        // 단어 목록 데이터 (Django에서 전달받음)
        var words = {{ wordlist | safe }};
        // // 빈도수에 따라 내림차순으로 정렬
        // words.sort(function (a, b) {
        //     return b.value - a.value;
        // });

        // 랜덤한 색상을 생성하는 함수
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        // 워드클라우드 레이아웃 설정
        var layout = d3.layout.cloud()
            .size([960, 600])
            .words(words.map(function (d) {
                return { text: d.name, size: d.value };
            }))
            .padding(5)
            .rotate(function () { return ~~(Math.random() * 2) * 30; })
            .fontSize(function (d) { return Math.sqrt(d.size) * 4; })
            .on("end", draw);

        layout.start();

        function draw(words) {
            d3.select("#wordcloud").append("g")
                .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) { return d.size + "px"; })
                .style("fill", function (d) { return getRandomColor(); })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) { return d.text; });
        }
    </script> -->
</body>

</html>